{% if shop.customer_accounts_enabled %}
  {% if customer  %}
    <li><a href="/account">Your Account</a></li>
  {% else %}
    <li>{{ 'My Account' | customer_login_link }}</li>
  {% endif %}
{% endif %}